/* Start off with a CSS reset...*/


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*  Jason's Customizationx */

:root {
    --arrowRadius: 10vw;
    --zoomRadius: 6vh;
    --navigationRadius: 7vh;
}


/* make body fullscreen */

html, body {
    height: 100%;
    min-height: 100%;
    overflow: hidden;
}

html {
    background-image: url("../files/img/background.jpg");
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    /* I thought browsers were good enough that I didn't need to do this anymore :( */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#book {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    height: 80%;
    transform-style: preserve-3d;
}

.page {
    position: absolute;
    left: 50%;
    box-shadow: 1vh 1vh 1vh black;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    translateZ(-1000px);
}

.left {
    right: 50% !important;
    left: initial !important;
    box-shadow: -1vh 1vh 1vh black;
    translateZ(-1000px);
}

.hidden {
    display: none;
}

.animated {
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

.animatedLeftPage {
    animation-name: flipRight;
}

.animatedRightPage {
    animation-name: flipLeft;
}

.animatedBackwardsLeftPage {
    animation-name: backwardsFlipRight;
}

.animatedBackwardsRightPage {
    animation-name: backwardsFlipLeft;
}

@keyframes flipLeft {
    0% {
        z-index: 10;
        transform: translateX(0%) translateZ(1000px);
    }
    100% {
        z-index: 1;
        transform: translateX(-50%) translateZ(2000px) rotateY(-90deg);
    }
}

@keyframes flipRight {
    0% {
        z-index: 1;
        transform: translateZ(1000px);
    }
    100% {
        z-index: 1000;
        transform: translateX(50%) translateZ(2000px) rotateY(90deg);
    }
}

@keyframes backwardsFlipLeft {
    0% {
        z-index: 10;
        transform: translateX(50%) translateZ(2000px) rotateY(-90deg);
    }
    100% {
        z-index: 1;
        transform: translateX(0%) translateZ(1000px) rotateY(0deg);
    }
}

@keyframes backwardsFlipRight {
    0% {
        z-index: 10;
        transform: translateX(-50%) translateZ(1000px) rotateY(90deg);
    }
    100% {
        z-index: 1;
        transform: translateX(0%) translateZ(2000px) rotateY(0deg);
    }
}


/*Button Stuff*/

.arrow {
    position: absolute;
    top: calc(50% - var(--arrowRadius) / 2);
    z-index: 5;
    height: var(--arrowRadius);
    width: var(--arrowRadius);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    line-height: var(--arrowRadius);
    font-size: var(--arrowRadius);
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    box-shadow: 0vw 0.2vw 0.2vw 0.2vw black;
}

.arrowLeft {
    left: 2vw;
}

.arrowRight {
    right: 2vw;
}


/* Navigation bar */

.navigation {
    position: absolute;
    bottom: 0;
    height: 10%;
    width: 100%;
}

#navigationHidden {
    overflow-x: scroll;
    overflow-y: hidden;
    height: calc(10% + 30px);
    bottom: -30px;
}

#navigationShown {
    top: 0;
    height: 100%;
    width: 10vh;
    overflow: hidden;
    z-index: 5;
}

#navigationIcon {
    display: inline-block;
    float: left;
    width: var(--navigationRadius);
    height: var(--navigationRadius);
    margin: 1.5vh;
    top: 25%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.8vh;
    font-weight: bold;
    text-align: center;
    line-height: var(--navigationRadius);
    box-shadow: 0vw 0.2vh 0.2vh 0.2vh black;
}


/* title */

.title {
    height: 10%;
    width: 100%;
    line-height: 10vh;
    text-align: center;
    font-weight: bold;
    font-size: 5vh;
    text-shadow: 0.2vh 0.2vh black;
    color: white;
}


/* Navigation icon */

.zoom {
    position: absolute;
    bottom: 10%;
    left: calc(50% - var(--zoomRadius) / 2);
    z-index: 5;
    height: var(--zoomRadius);
    width: var(--zoomRadius);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    line-height: var(--zoomRadius);
    font-size: var(--zoomRadius);
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    box-shadow: 0vh 0.2vh 0.2vh 0.2vh black;
}
